html , body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 90%;
    margin-top: 40px;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header {
    background-color: burlywood;
    display: grid;
    grid-template-rows: 1fr;

}

.main {
    background-color: darkcyan;
    display: grid;
    grid-template-rows: 3fr;
}